<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hello
        <%- ip %>
    </title>
</head>

<body>
    <h1>Hello <%- ip %></h1>
    <p>Here is your information:</p>
    <table>
        <tr>
            <td>Ip: </td>
            <td><%- ip %></td>
        </tr>
        <tr>
            <td>Browser: </td>
            <td><%- browser %></td>
        </tr>
        <tr>
            <td>Host name: </td>
            <td><%- hostname %></td>

    </table>
</body>

</html>
